.DS_Store
.AppleDouble
.LSOverride
.vscode
.git
.env
.github
.github/**
.github/workflows/main.yml
.ftp-deploy-sync-state.json
node_modules/
grid/
swiper-master/
**/logs
build/**
images/**
*.log
.idea/
Thumbs.db
build/
package-lock.json
ftp-settings.js
.osp/
.osp/*