/*====================*/
/*  Form Block        */
/*====================*/
.form-block {--space: 1.75rem;}
.form-block .row {--bs-gutter-x: var(--space);--bs-gutter-y: var(--space);}
.form-block > * {margin-bottom: var(--space);}
.form-block > *:last-child {margin-bottom: 0;}
@media (max-width: 1199px) {
.form-block {--space: 1.25rem;}
}
@media (max-width: 767px) {
.form-block {--space: 1rem;}
}
/*====================*/
/*  Inputs            */
/*====================*/
.input-field {--int-height: 3.5rem;--int-pd: 1rem;--font-size: 1rem;display: block;position: relative;text-align: left;line-height: 0;font-size: var(--font-size);}
.input {position: relative;z-index: 1;transition: var(--transition-1);border-bottom: 0.0625rem solid var(--clr-border);font-size: var(--font-size);font-weight: 500;line-height: var(--int-height);height: var(--int-height);color: var(--clr-title);text-overflow: ellipsis;padding-block: var(--int-pd);}
textarea.input {height: 4rem;line-height: 1.3em;}
.input-label {pointer-events: none;display: inline-block;text-align: left;font-size: var(--font-size);line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-plc);max-width: calc(100% - var(--int-pd) * 2);display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;margin-bottom: -0.625rem;}
.input-error {font-size: 0.75rem;line-height: 1.5em;font-weight: 400;color: var(--clr-red);margin-top: 0.25rem;display: none;}
.input-success {font-size: 0.75rem;line-height: 1.5em;font-weight: 400;color: var(--clr-green);margin-top: 0.25rem;display: none;}
.input-field.focus {z-index: 5;}
.input-field.focus .input-placeholder,
.input-field.value .input-placeholder {font-size: calc(var(--font-size) * 0.8755);transform: translateY(-0.625em);}
.input-field:where(.focus) .input {border-color: var(--clr-black);}
.input-field.invalid:not(.value) .input,
.input-field.invalid-email .input {border-color: var(--clr-red);}
.input-field.invalid:not(.value) .input-error,
.input-field.invalid-email .input-error {display: block;}
@media (max-width: 991px) {
.input-field {--int-height: 2.875rem;--int-pd: .75rem;--font-size: .875rem;}
}
/*====================*/
/*  Autofill          */
/*====================*/
.input-field.focus .input:not(textarea):-webkit-autofill,
.input-field.value .input:not(textarea):-webkit-autofill,
.input-field.focus .input:not(textarea):-webkit-autofill:hover,
.input-field.value .input:not(textarea):-webkit-autofill:hover,
.input-field.focus .input:not(textarea):-webkit-autofill:focus,
.input-field.value .input:not(textarea):-webkit-autofill:focus,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {border: 0;-webkit-text-fill-color: var(--clr-black);-webkit-box-shadow: inset 0 0 0 0.0625rem var(--clr-black),inset 0 0 6.25rem var(--clr-white);-webkit-transition: background-color 5000s ease-in-out 0s;transition: background-color 5000s ease-in-out 0s;}
/*====================*/
/*  Checkbox & Radio  */
/*====================*/
.ch-box-wrap {gap: 1rem;display: flex;flex-wrap: wrap;}
.ch-box {--ch-size: 1rem;--lh-size: calc(var(--ch-size) * 1.25);cursor: pointer;font-size: var(--ch-size);line-height: var(--lh-size);text-align: left;gap: calc(var(--ch-size) / 2);display: inline-flex;align-items: center;}
.ch-box a {color: var(--clr-primary);text-decoration: underline;text-decoration-color: transparent;}
.ch-box input[type=radio],
.ch-box input[type=checkbox] {display: inline-block;position: relative;vertical-align: text-top;color: var(--clr-text);height: var(--lh-size);width: var(--lh-size);flex-shrink: 0;align-self: baseline;border-radius: 0.25rem;border: 0.0625rem solid currentColor;}
.ch-box input[type=radio]:before,
.ch-box input[type=checkbox]:before {content: "";position: absolute;top: 50%;left: 50%;display: block;width: 66.68%;height: 66.68%;transform: translate(-50%, -50%) scale(0);border-radius: inherit;background-color: currentColor;transition: var(--transition-1);}
.ch-box input[type=radio]:checked,
.ch-box input[type=checkbox]:checked {color: var(--clr-primary);}
.ch-box input[type=radio]:checked:before,
.ch-box input[type=checkbox]:checked:before {transform: translate(-50%, -50%) scale(1);}
.ch-box input[type=radio] {border-radius: 100%;}
@media (min-width: 1200px) {
.ch-box a:not(.btn):hover {text-decoration-color: currentColor;}
}
@media (max-width: 575px) {
.ch-box-wrap {align-items: flex-start;flex-direction: column;}
}