/*--------------------*/
/*  Helpers           */
/*--------------------*/
/* spacers */
[class*=spacer] {clear: both;width: 100%;}
.spacer-xl {height: var(--sp-xl);}
.spacer-lg {height: var(--sp-lg);}
.spacer-md {height: var(--sp-md);}
.spacer-sm {height: var(--sp-sm);}
.spacer-xs {height: var(--sp-xs);}
/* gutters */
.g-xl,
.gy-xl {--bs-gutter-y: var(--sp-xl);}
.g-lg,
.gy-lg {--bs-gutter-y: var(--sp-lg);}
.g-md,
.gy-md {--bs-gutter-y: var(--sp-md);}
.g-sm,
.gy-sm {--bs-gutter-y: var(--sp-sm);}
.g-xs,
.gy-xs {--bs-gutter-y: var(--sp-xs);}
.g-xl,
.gx-xl {--bs-gutter-x: var(--sp-xl);}
.g-lg,
.gx-lg {--bs-gutter-x: var(--sp-lg);}
.g-md,
.gx-md {--bs-gutter-x: var(--sp-md);}
.g-sm,
.gx-sm {--bs-gutter-x: var(--sp-sm);}
.g-xs,
.gx-xs {--bs-gutter-x: var(--sp-xs);}
/* margins */
.mt-xl {margin-top: var(--sp-xl);}
.mt-lg {margin-top: var(--sp-lg);}
.mt-md {margin-top: var(--sp-md);}
.mt-sm {margin-top: var(--sp-sm);}
.mt-xs {margin-top: var(--sp-xs);}
.mb-xl {margin-bottom: var(--sp-xl);}
.mb-lg {margin-bottom: var(--sp-lg);}
.mb-md {margin-bottom: var(--sp-md);}
.mb-sm {margin-bottom: var(--sp-sm);}
.mb-xs {margin-bottom: var(--sp-xs);}
.mx-auto {margin-inline: auto;}
/* colors */
.clr-white {color: var(--clr-white) !important;}
.clr-black {color: var(--clr-black) !important;}
.clr-primary {color: var(--clr-primary) !important;}
.clr-secondary {color: var(--clr-secondary) !important;}
.clr-green {color: var(--clr-green) !important;}
.clr-red {color: var(--clr-red) !important;}
/* cover */
.image {position: relative;}
.image img {display: block;position: relative;width: 100%;}
:where(.image-cover),
:where(.video-cover),
:where(.image-contain) {position: relative;overflow: hidden;padding-bottom: 50%;}
:where(.image-round) {overflow: hidden;border-radius: 100%;padding-bottom: 100%;}
.video-cover video,
.image-cover img,
.image-contain img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.image-contain img {-o-object-fit: scale-down;object-fit: scale-down;}
a .image-cover img,
a .video-cover video {transition: transform var(--transition-1);}
@media (min-width: 1200px) {
a:hover .image-cover img,
a:hover .video-cover video {transform: scale(1.04);}
}
/* icon */
.icon {--size: 1.5rem;display: inline-block;width: var(--size);height: var(--size);flex-shrink: 0;}
.icon > * {display: block;width: 100%;height: 100%;}
/*--------------------*/
/*  BANNER            */
/*--------------------*/
.banner-section {margin-top: 0;}
.banner {position: relative;}
.banner-media {position: absolute;overflow: hidden;z-index: 0;inset: 0;}
.banner-media img,
.banner-media video {z-index: 0;position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.video {position: absolute;z-index: 1;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;clip: rect(auto, auto, auto, auto);display: none;}
.video.video-present {display: block;overflow: hidden;}
.video video {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: auto;height: auto;min-width: calc(100% + 8px);min-height: calc(100% + 8px);}
.banner-align {position: relative;z-index: 1;display: table-cell;vertical-align: middle;width: 625rem;height: auto;}
.banner-align.align-bottom {vertical-align: bottom;}
.banner-align.align-top {vertical-align: top;}
@media (min-width: 768px) {
.banner {--clr-title: #fff;--clr-text: rgba(255, 255, 255, .7);}
.banner-media::before {content: "";position: absolute;z-index: 1;inset: 0;background: linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);}
.banner-align {padding-block: max(1rem, 2vw);height: clamp(22.5rem, 7.76rem + 30.7vw, 40rem);}
.banner-info > * + * {margin-top: 1.5rem;}
}
@media (min-width: 1200px) {
.banner.full .banner-align {height: calc(100svh - var(--h-height));}
.banner-slider .swiper-button-prev {left: 1rem;color: var(--clr-white);}
.banner-slider .swiper-button-next {right: 1rem;color: var(--clr-white);}
}
@media (max-width: 767px) {
.banner-media {position: relative;padding-top: 57%;}
.banner-info > * {margin-top: 1rem;}
}
.banner-section {opacity: 1;}
/*--------------------*/
/*  BREADCRUMBS       */
/*--------------------*/
.breadcrumbs {--br-fz: clamp(0.875rem, 0.77rem + 0.22vw, 1rem);--br-space: 1rem;width: 100%;margin-block: clamp(0.75rem, 0.54rem + 0.44vw, 1rem);overflow-y: hidden;overflow-x: auto;scroll-snap-type: x mandatory;}
.breadcrumbs ul {min-width: -moz-max-content;min-width: max-content;line-height: 0;padding-right: var(--br-space);}
.breadcrumbs li {position: relative;display: inline-block;font-size: var(--br-fz);line-height: 1em;color: var(--clr-title);scroll-snap-align: start;scroll-margin-left: var(--br-space);}
.breadcrumbs li:after {content: "/";position: relative;display: inline-block;margin: 0 0.5rem;font-size: 90%;}
.breadcrumbs li:last-child:after {content: none;}
.breadcrumbs li.active {text-decoration: underline;}
.breadcrumbs .icon {--size: 1.125rem;display: inline-block;vertical-align: middle;margin-top: -0.0625rem;}
.breadcrumbs .icon *[stroke] {stroke: currentColor;}
.banner .breadcrumbs {position: absolute;top: 0;left: 0;}
@media (min-width: 1200px) {
.breadcrumbs li a:hover {color: var(--clr-primary);}
}
/*--------------------*/
/*  Advantages        */
/*--------------------*/
.advt-item {text-align: center;padding-inline: 0.625rem;}
.advt-item > * + * {margin-top: max(1rem, 1.25vw);}
.advt-img {--adv-size: max(5rem, 5vw);position: relative;width: var(--adv-size);height: var(--adv-size);flex-shrink: 0;border-radius: 100%;border: 0.125rem solid var(--clr-black);margin-inline: auto;}
.advt-img > * {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 50%;height: 50%;}
.advt-title {font-size: var(--h4);line-height: 1.25em;color: var(--clr-black);}
/*--------------------*/
/*  Price Cards       */
/*--------------------*/
.prc-cards {gap: var(--sp-sm) var(--sp-xs);display: grid;grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr));}
.prc-card {gap: 0;display: grid;grid-row: span 6;grid-template-rows: subgrid;border-radius: var(--rd-1);border: 0.0625rem solid var(--clr-plc);padding: 1.5rem max(0.625rem, 6%);}
.prc-card > * + * {margin-top: 1rem;}
/*--------------------*/
/*  Team              */
/*--------------------*/
.team-item {text-align: center;}
.team-item > * + * {margin-top: max(1rem, 1.25vw);}
.team-img {position: relative;overflow: hidden;border-radius: var(--rd-1);padding-top: 120%;}
.team-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.team-name {font-size: var(--h4);line-height: 1.2;color: var(--clr-black);}
/*--------------------*/
/*  Brands            */
/*--------------------*/
.brand-slider .swiper-container {padding: 0.0625rem;}
.brand-item {position: relative;z-index: 1;padding-top: 64%;width: 100%;outline: 0.125rem solid var(--clr-black);outline-offset: -0.625rem;}
.brand-item img {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 70%;max-height: 50%;content-visibility: auto;}
/*--------------------*/
/*  LR Block          */
/*--------------------*/
.lr-img-1 {position: relative;padding-top: 100%;overflow: hidden;border-radius: var(--rd-1);}
.lr-img-1 img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.lr-content-1 > * + * {margin-top: 4%;}
@media (max-width: 991px) {
.lr-img-1 {margin-bottom: 4%;}
}
/*--------------------*/
/*  LR Block          */
/*--------------------*/
.lr-img-2 {position: relative;padding-top: 100%;overflow: hidden;border-radius: var(--rd-1);}
.lr-img-2 img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.lr-content-2 {--lr-width: max(.875rem, 2.5vw);}
.lr-content-2 > * + * {margin-top: var(--lr-width);}
@media (max-width: 991px) {
.lr-img-2::before {content: "";position: absolute;z-index: 1;bottom: 0;left: 0;width: 100%;height: 50%;background: linear-gradient(180deg, rgba(60, 60, 60, 0) 19.27%, rgba(30, 30, 30, 0.63) 100%);}
.lr-content-2 {position: relative;z-index: 1;}
.lr-content-2 .title {position: absolute;z-index: 1;top: calc(-1 * var(--lr-width));left: 0;width: 100%;padding: var(--lr-width);transform: translateY(-100%);color: var(--clr-white);}
}
/*--------------------*/
/*  LR Block          */
/*--------------------*/
.lr-block-3 {--lr-x-space: max(1.875rem, 7vw);--lr-y-space: max(0.875rem, 2.5vw);}
.lr-img-3 {position: relative;padding-top: 100%;overflow: hidden;border-radius: var(--rd-1);}
.lr-img-3 img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.lr-content-3 > * + * {margin-top: var(--lr-y-space);}
@media (min-width: 992px) {
.lr-block-3 {display: grid;grid-template-columns: 0.9fr 1.1fr;grid-column-gap: var(--lr-x-space);grid-row-gap: var(--lr-y-space);}
.lr-block-3.right {grid-template-columns: 1.1fr 0.9fr;}
.lr-block-3.right .lr-img-3 {grid-area: 1/2/3/3;}
.lr-img-3 {grid-area: 3/2/1/1;}
.lr-title-3 {align-self: end;}
.lr-content-3 {align-self: start;}
}
@media (max-width: 991px) {
.lr-block-3 > * + * {margin-top: var(--lr-y-space);}
}
/*--------------------*/
/*  Accordion         */
/*--------------------*/
.accordion {position: relative;z-index: 1;}
.accordion-item {--padding-acc: 2rem;position: relative;border-bottom: 0.0625rem solid var(--clr-border);}
.accordion-item:first-child {border-top: 0.0625rem solid var(--clr-border);}
.accordion-title {position: relative;cursor: pointer;font-size: var(--h5);line-height: 1.36em;font-weight: 500;color: var(--clr-title);padding-block: var(--padding-acc);padding-right: var(--padding-acc);transition: var(--transition-1);}
.accordion-title i {display: inline-block;position: absolute;right: 0;top: var(--padding-acc);width: var(--padding-acc);height: 1.36em;transition: var(--transition-1);}
.accordion-title i::before {content: "";position: absolute;right: 0;top: 55%;transform: translateY(-50%);width: 50%;height: 35%;background: var(--clr-black);-webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);clip-path: polygon(100% 0, 0 0, 50% 100%);transition: var(--transition-1);}
.accordion-title.is-active i {transform: rotateX(-180deg);}
.accordion-inner {display: none;padding-bottom: var(--padding-acc);padding-right: var(--padding-acc);}
@media (min-width: 1200px) {
.accordion-title:hover {color: var(--clr-primary);}
}
@media (max-width: 991px) {
.accordion-item {--padding-acc: .875rem;}
}
/*--------------------*/
/*  Contacts          */
/*--------------------*/
.ct-items-row {--bs-gutter-y: 1.875rem;}
.contact-item {display: flex;align-items: center;}
.contact-item + .contact-item {margin-top: 1.875rem;}
.contact-item-img {--size: 3.75rem;position: relative;align-self: flex-start;flex-shrink: 0;width: var(--size);height: var(--size);margin-right: 4%;border-radius: 100%;border: 0.0625rem solid var(--clr-black);}
.contact-item-img img {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 50%;max-height: 50%;}
.contact-item-info {display: flex;flex-direction: column;align-items: flex-start;font-weight: 500;font-size: var(--h6);line-height: 1.3em;color: var(--clr-text);}
.contact-item-info > * + * {margin-top: 0.25rem;}
.contact-block {position: relative;overflow: hidden;display: block;padding-top: max(22.5rem, 36vw);border-radius: var(--rd-1);}
.map {position: absolute;inset: 0;}
@media (min-width: 1200px) {
.contact-item-info a:hover {color: var(--clr-primary);}
}
@media (max-width: 575px) {
.contact-item-img {--size: 2.5rem;}
}
/*--------------------*/
/*  InfoBox           */
/*--------------------*/
.infoBox {--space: 1rem;}
.infoBox > img {z-index: 10;opacity: 0;}
.infoBox > img,
.infoBox .btn-close {position: absolute;top: calc(-1 * var(--space));right: var(--space);width: calc(var(--space) * 2);height: calc(var(--space) * 2);border-radius: 100%;}
.infoBox .btn-close {right: calc(-1 * var(--space));}
.info-box-wrapper {position: relative;z-index: 1;background-color: var(--clr-white);border-radius: var(--rd-1);display: flex;}
.info-box-inner {padding: var(--space);padding-right: calc(var(--space) * 3);}
.info-box-inner > * {margin-bottom: var(--space);}
.info-box-inner :last-child {margin-bottom: 0;}
.cnt-item {display: flex;align-items: flex-start;}
.cnt-img {flex-shrink: 0;width: 1.25rem;height: 1.25rem;margin-right: 0.625rem;}
.cnt-img img {width: 100%;line-height: 0;}
.cnt-info {font-family: var(--ff-1);font-weight: 400;font-size: 1rem;line-height: 1.2em;}
.cnt-info > * + * {margin-top: 0.25rem;}
.info-box-img {position: relative;z-index: -1;padding-bottom: 56%;height: 100%;width: 44%;flex-shrink: 0;border-bottom-right-radius: var(--rd-1);overflow: hidden;}
.info-box-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
@media (min-width: 1200px) {
.infoBox img:hover + .info-box-wrapper .btn-close {color: var(--clr-red);background-color: var(--clr-grey);}
.cnt-info a:hover {color: var(--clr-primary);}
}
@media (max-width: 575px) {
.infoBox {--space: 0.75rem;}
.info-box-img {display: none;}
.infoBox > img,
.infoBox .btn-close {top: calc(var(--space) * 0.5);right: calc(var(--space) * 2.5);}
.infoBox .btn-close {right: calc(var(--space) * 0.5);}
}
/*--------------------*/
/*  Footer            */
/*--------------------*/
.footer-top {padding-block: max(1rem, 3.5vw);padding-inline: max(1rem, 2.5vw);border-radius: var(--rd-1);background-color: var(--bg-2);}
.footer-top .row {--bs-gutter-y: 1.875rem;}
.footer-logo {display: block;max-width: 13.75rem;width: 100%;}
.footer-logo img {display: block;width: 100%;filter: invert(1);}
.footer-links ul {display: inline-flex;align-items: center;flex-wrap: wrap;gap: 1rem 4vw;}
.footer-links li {line-height: 0;}
.footer-links a {font-size: 1.25rem;font-weight: 500;line-height: 1.25em;color: var(--clr-white);}
.footer-contacts {display: flex;flex-direction: column;align-items: flex-end;gap: 1.25rem;}
.footer-cnt-item {font-size: 1rem;line-height: 1.25em;color: var(--clr-white);display: flex;align-items: center;gap: 1rem;}
.footer-cnt-item img {width: 1.5rem;height: 1.5rem;filter: invert(1);}
.footer-bottom {padding-block: 1rem;padding-inline: max(1rem, 2.5vw);}
.footer-bottom .row {--bs-gutter-y: 1rem;}
.footer-copy {display: flex;flex-wrap: wrap;align-items: center;gap: 0 2vw;}
.footer-copy > * {font-size: 1rem;line-height: 1.25em;color: var(--clr-text);}
.social ul {display: flex;align-items: center;justify-content: center;flex-wrap: wrap;gap: 1rem;}
.social li {line-height: 0;}
.social a {position: relative;width: 2.5rem;height: 2.5rem;border-radius: 100%;background-color: var(--bg-2);}
.social a > * {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 60%;max-height: 60%;}
.dev-link {font-size: 1rem;line-height: 1.25em;color: var(--clr-text);gap: 0.5rem;display: flex;align-items: center;justify-content: flex-end;}
@media (min-width: 1200px) {
.footer-cnt-item:hover,
.footer-links a:hover,
.footer-copy a:hover {color: var(--clr-primary);}
.social a:hover {background-color: var(--clr-primary);}
.dev-link:hover {color: var(--clr-primary);}
}
@media (max-width: 1199px) {
.footer-logo {max-width: 11.25rem;}
}
@media (max-width: 991px) {
.footer-logo {max-width: 10rem;margin-inline: auto;}
.footer-contacts {align-items: center;}
.footer-copy,
.dev-link {justify-content: center;}
}
/*--------------------*/
/*  Popups            */
/*--------------------*/
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;transition-delay: 0.3s;display: block;}
.popup-wrapper .bg-layer {position: absolute;left: 0;right: 0;top: -6.25rem;bottom: -6.25rem;background: rgba(19, 30, 41, 0.8);opacity: 0;transition: opacity var(--transition-1);}
.popup-wrapper.active {left: 0;transition-delay: 0s;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;inset: 0;font-size: 0;text-align: center;letter-spacing: 0;padding: 1rem;overflow: auto;-webkit-overflow-scrolling: touch;backface-visibility: hidden;opacity: 0;visibility: hidden;transform: translateY(6.25rem);transition: var(--transition-1);}
.popup-content.active {transform: translateY(0%);opacity: 1;visibility: visible;}
.popup-content:after {content: "";display: inline-block;vertical-align: middle;height: 100%;}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 625rem;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 41.25rem;background: var(--clr-white);border-radius: var(--rd-1);}
.popup-container.size-2 {max-width: 48.75rem;}
.popup-container .btn-close {position: absolute;z-index: 10;top: 1.25rem;right: 1.25rem;}
.popup-align {position: relative;z-index: 1;padding: 3rem 4rem;}
.popup-info > * + * {margin-top: 3%;}
.open-popup {cursor: pointer;}
@media (max-width: 575px) {
.popup-container .btn-close {top: 0.25rem;right: 0.25rem;}
.popup-align {padding: 2.5rem 1rem;}
}
/*--------------------*/
/*  404               */
/*--------------------*/
.page-404 {margin: 0;padding: 2.5rem 0;width: 100%;min-height: calc(100svh - var(--h-height));display: flex;align-items: center;justify-content: center;}
.page-404-inner .text {margin-top: 1rem;}
.page-404-inner .btn {margin-top: 1.25rem;}
.page-404-img {display: block;}
.page-404-img img {width: 100%;}
@media (max-width: 767px) {
.page-404-inner {text-align: center;}
.page-404-inner .text {margin-top: 0.5rem;}
.page-404-inner .btn {margin-top: 0.875rem;}
}