/*====================*/
/*  Helpers           */
/*====================*/
/* spacers */
[class*=spacer] {clear: both;width: 100%;}
.spacer-xl {height: var(--sp-xl);}
.spacer-lg {height: var(--sp-lg);}
.spacer-md {height: var(--sp-md);}
.spacer-sm {height: var(--sp-sm);}
.spacer-xs {height: var(--sp-xs);}
/* margins */
.mt-xl {margin-top: var(--sp-xl);}
.mt-lg {margin-top: var(--sp-lg);}
.mt-md {margin-top: var(--sp-md);}
.mt-sm {margin-top: var(--sp-sm);}
.mt-xs {margin-top: var(--sp-xs);}
.mb-xl {margin-bottom: var(--sp-xl);}
.mb-lg {margin-bottom: var(--sp-lg);}
.mb-md {margin-bottom: var(--sp-md);}
.mb-sm {margin-bottom: var(--sp-sm);}
.mb-xs {margin-bottom: var(--sp-xs);}
.mx-auto {margin-inline: auto;}
.mb-title {margin-bottom: var(--sp-title);}
/*====================*/
/*  Cursor            */
/*====================*/
@media (min-width: 1200px) {
.cursor {will-change: translate;pointer-events: none;position: fixed;overflow: hidden;z-index: 1000;top: 0;left: 0;transform-origin: center;transition: transform 0.3s ease;transform: translate(-50%, -50%) scale(0.2);display: block;width: 4rem;height: 4rem;border-radius: 100%;background-color: var(--clr-primary);mix-blend-mode: difference;}
.cursor > * {position: absolute;inset: 0;display: inline-block;border-radius: inherit;}
}
/*====================*/
/*  Breadcrumbs       */
/*====================*/
.breadcrumbs {--br-fz: 0.875rem;--br-space: 0.75rem;width: 100%;overflow-y: hidden;overflow-x: auto;scroll-snap-type: x mandatory;margin-block: 1.25rem;}
.breadcrumbs ul {min-width: -moz-max-content;min-width: max-content;line-height: 0;padding-right: var(--br-space);}
.breadcrumbs li {position: relative;display: inline-block;font-size: var(--br-fz);line-height: normal;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-text);scroll-snap-align: start;scroll-margin-left: var(--br-space);}
.breadcrumbs li:after {content: "";position: relative;display: inline-block;vertical-align: middle;width: 0.25rem;height: 0.25rem;flex-shrink: 0;background-color: currentColor;border-radius: 100%;margin: 0 0.5rem;}
.breadcrumbs li:last-child:after {content: none;}
.breadcrumbs li.active {color: var(--clr-title);}
.banner .breadcrumbs {--clr-text: rgba(255, 255, 255, 0.6);--clr-title: #FFFFFF;position: absolute;z-index: 2;left: 0;top: calc(var(--h-height) + 1.25rem);margin-block: 0;}
@media (min-width: 1200px) {
.breadcrumbs li a:hover {color: var(--clr-primary);}
}
/*====================*/
/*  Banner            */
/*====================*/
.banner-section {margin-top: 0;}
.banner {--clr-title: #fff;--clr-text: #767676;position: relative;}
.banner.full {margin-bottom: 2rem;}
.banner.full .banner-align {padding-block: calc(var(--h-height) + 1.25rem) 0;height: 94svh;}
.banner.full .banner-media:has(img, video)::before {background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);}
.banner-media {position: absolute;overflow: hidden;z-index: 0;inset: 0;}
.banner-media:has(img, video)::before {content: "";position: absolute;z-index: 1;inset: 0;background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);}
.banner-media img,
.banner-media video {z-index: 0;position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.video {position: absolute;z-index: 1;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%;clip: rect(auto, auto, auto, auto);display: none;}
.video.video-present {display: block;overflow: hidden;}
.banner-align {position: relative;z-index: 1;display: table-cell;vertical-align: middle;width: 625rem;height: auto;padding-block: calc(var(--h-height) + 3.5rem + 1.25rem) 3.5rem;}
.banner-align.align-bottom {vertical-align: bottom;}
.banner-align.align-top {vertical-align: top;}
.banner-info {display: flex;flex-direction: column;}
.banner-info > * + * {margin-top: 1.5rem;}
.banner-btn {--size: 6rem;position: relative;cursor: pointer;z-index: 2;display: flex;width: var(--size);height: var(--size);flex-shrink: 0;}
.banner-btn img {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);display: block;width: 100%;height: 100%;transition: var(--transition-1);}
.banner-btn img + img {opacity: 0;}
.banner-text {position: relative;padding: 1.5rem 1.25rem 1.5rem 0;margin-bottom: -2rem;}
.banner-text::before {content: "";position: absolute;z-index: -1;top: 0;left: -100%;width: 200%;height: 100%;border-radius: 0 0.75rem 0 0;background-color: var(--clr-grey);}
.banner-about {position: relative;overflow: hidden;display: block;width: 100%;aspect-ratio: 48/46;border-radius: 0.75rem;}
.banner-about img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;border-radius: 0.75rem;}
@media (min-width: 768px) {
.banner-info > * + * {margin-top: 1.5rem;}
.banner-about {aspect-ratio: 152/67;}
}
@media (min-width: 1200px) {
.banner.full {margin-bottom: 0;}
.banner.full .banner-align {padding-block: calc(var(--h-height) + 2rem) 0;height: 100svh;}
.banner.full .banner-align > .container {height: calc(100svh - var(--h-height) - 2rem);display: flex;}
.banner.full .banner-align .banner-info {align-self: center;height: inherit;}
.banner.full .banner-align .banner-info .title {margin-block: auto;}
.banner-align {padding-block: calc(var(--h-height) + var(--sp-md) * 2.75 + 1.25rem) var(--sp-md);}
.banner-info > * + * {margin-top: 2.5rem;}
.banner-info > * + .banner-btn {margin-top: 0;}
.banner-info > .banner-btn + * {margin-top: -2.5rem;}
.banner-btn {--size: 12.5rem;margin-inline: auto 8.33333333%;}
.banner-btn:hover img {opacity: 0;}
.banner-btn:hover img + img {opacity: 1;}
.banner-text {padding: 2.5rem 2.875rem 2.5rem 0;margin-bottom: 0;}
}
.banner-section {opacity: 1;}
/*====================*/
/*  Advantages        */
/*====================*/
.advt-block {--items: 1;--gap: 1.25rem;position: relative;gap: var(--gap);display: grid;grid-template-columns: repeat(var(--items), 1fr);}
.advt-card {position: relative;overflow: hidden;display: inline-block;width: 100%;border-radius: 0.75rem;}
.advt-card-front,
.advt-card-back {display: flex;flex-direction: column;justify-content: center;min-height: 18.75rem;transition: 0.45s linear;transition-property: transform,opacity;text-align: center;padding: 1.25rem;}
.advt-card-front {gap: 1.5rem;transform: rotateY(0deg);background-color: var(--clr-black);border-radius: 0.875rem;}
.advt-card-back {--clr-white: #181B20;position: absolute;inset: -0.125rem;opacity: 0;gap: 1.25rem;transform: rotateX(-180deg);background-color: var(--clr-primary);border-radius: inherit;}
.advt-card .text {font-weight: 500;color: rgba(0, 0, 0, 0.6);}
.advt-icon {--size: 7.5rem;position: relative;display: inline-block;width: var(--size);height: var(--size);margin-inline: auto;}
.advt-icon img {width: 100%;}
.advt-title {font-size: var(--h4);line-height: normal;font-weight: 700;letter-spacing: -0.02em;color: var(--clr-white);}
@media (min-width: 992px) {
.advt-block {--items: 3;}
.advt-card-front,
.advt-card-back {min-height: 24rem;padding: 1.5rem;}
.advt-card-front {gap: 2.875rem;}
}
@media (min-width: 1200px) {
.advt-card:hover > .advt-card-front {transform: rotateX(180deg);}
.advt-card:hover > .advt-card-back {opacity: 1;transform: rotateX(0deg);}
}
/*====================*/
/*  LR Block          */
/*====================*/
.lr-block {gap: 1.25rem;display: grid;}
.lr-img {position: relative;aspect-ratio: 735/790;overflow: hidden;}
.lr-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;}
.lr-content {align-self: center;}
.lr-content > * + * {margin-top: 1.25rem;}
@media (min-width: 992px) {
.lr-block {gap: 2.5rem;grid-template-columns: 40% auto;}
.lr-right {grid-template-columns: auto 40%;}
.lr-right .lr-img {order: 1;margin-left: 0;margin-right: calc((var(--container-padd) + var(--bs-gutter-x) * 0.5) * -1);}
.lr-img {width: calc(100% + var(--container-padd) + var(--bs-gutter-x) * 0.5);margin-left: calc((var(--container-padd) + var(--bs-gutter-x) * 0.5) * -1);border-radius: 0 var(--rd-1) var(--rd-1) 0;}
}
@media (min-width: 1200px) {
.lr-block {gap: clamp(1.875rem, -13.3149rem + 31.6456vw, 14.375rem);grid-template-columns: 35.2% auto;}
.lr-right {grid-template-columns: auto 35.2%;}
.lr-content > * + * {margin-top: 2.5rem;}
}
/*====================*/
/*  Services          */
/*====================*/
.service-item {position: relative;gap: 1.25rem;display: grid;border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.15);padding-block: 1.25rem;}
.service-item .text {color: rgba(255, 255, 255, 0.6);}
.service-item:last-child {border-bottom: none;}
.service-title {gap: 1.25rem;display: inline-flex;color: var(--clr-white);}
.service-title span {color: var(--clr-primary);}
@media (min-width: 1200px) {
.service-title,
.text {transition: var(--transition-1);}
.service-item {gap: 2.5rem;align-items: center;grid-template-columns: 1fr 1.05fr;padding-block: 2.5rem;}
.service-item:hover .service-title {color: var(--clr-primary);}
.service-item:hover .text {color: var(--clr-white);}
.service-title {gap: 2.5rem;}
}
/*====================*/
/*  Projects          */
/*====================*/
.project-wrap {--items: 1;--gap: 1.25rem;position: relative;gap: var(--gap);display: grid;grid-template-columns: repeat(var(--items), 1fr);}
.project-wrap + :has(.btn) {display: flex;width: -moz-fit-content;width: fit-content;margin-inline: auto;margin-top: var(--sp-title);}
.project-card {position: relative;width: 100%;gap: 0;display: grid;grid-row: span 3;grid-template-rows: subgrid;}
.project-card > * + * {margin-top: 0.5rem;}
.project-card .title {transition: var(--transition-1);}
.project-img {position: relative;overflow: hidden;display: block;width: 100%;aspect-ratio: 48/46;border-radius: 0.75rem;}
.project-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;border-radius: 0.75rem;transition: var(--transition-1);}
.project-img + * {margin-top: 1rem;}
@media (min-width: 768px) {
.project-wrap {--items: 2;}
}
@media (min-width: 992px) {
.project-wrap {--items: 3;}
}
@media (min-width: 1200px) {
.project-wrap {--gap: 2.5rem;}
.project-card:hover .title {color: var(--clr-primary);}
.project-card:hover .project-img img {transform: scale(1.1);}
}
/*====================*/
/*  Project Detail    */
/*====================*/
.project-det {gap: 2rem;display: grid;}
.project-det-content > * + * {margin-top: var(--sp-title);}
.project-det .text {font-weight: 500;}
.project-det-entry > * + * {margin-top: var(--sp-title);}
.project-det-info {gap: 1rem;display: grid;grid-template-columns: repeat(2, 1fr);}
.project-det-item {font-size: var(--text-sm);line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-text);border-top: 0.0625rem solid var(--clr-border);padding-top: 1rem;}
.project-det-item > * + * {margin-top: 0.5rem;}
.project-det-item > *:last-child {font-size: var(--h5);line-height: normal;font-weight: 700;letter-spacing: -0.02em;color: var(--clr-title);}
@media (min-width: 768px) {
.project-det-info {gap: 1.25rem;grid-template-columns: repeat(3, 1fr);}
}
@media (min-width: 1200px) {
.project-det {gap: var(--sp-md);grid-template-columns: repeat(2, 1fr);}
.project-det-info {gap: var(--sp-md);}
}
/*====================*/
/*  Steps             */
/*====================*/
.step-block {gap: 1.25rem;display: grid;}
.step-card-wrap {--items: 1;--gap: 1.25rem;position: relative;gap: var(--gap);display: grid;grid-template-columns: repeat(var(--items), 1fr);}
.step-card {--pd: 1.25rem;position: relative;width: 100%;gap: 1rem;display: grid;grid-row: span 2;grid-template-rows: subgrid;border-radius: 0.75rem;background-color: var(--clr-grey);padding: var(--pd);}
.step-card .title span {color: var(--clr-primary);}
.step-card .text {font-weight: 500;color: rgba(0, 0, 0, 0.5);}
@media (min-width: 992px) {
.step-card-wrap {--items: 3;}
}
@media (min-width: 1200px) {
.step-block {gap: var(--sp-md);grid-template-columns: auto 49.343%;}
.step-card-wrap {grid-column: span 2;}
.step-card {--pd: 1.5rem;}
}
/*====================*/
/*  Accordion         */
/*====================*/
.accordion {position: relative;z-index: 1;}
.accordion-item {--pd-acc: 1.25rem;--icon-acc: 1.82em;position: relative;border-bottom: 0.0625rem solid var(--clr-border);}
.accordion-title {position: relative;cursor: pointer;font-size: var(--h5);line-height: normal;font-weight: 700;letter-spacing: -0.02em;color: var(--clr-title);padding-block: var(--pd-acc);padding-right: calc(var(--pd-acc) + var(--icon-acc));transition: var(--transition-1);}
.accordion-title i {display: inline-block;position: absolute;right: 0;top: calc(var(--pd-acc) - var(--icon-acc) / 5);transition: var(--transition-1);width: var(--icon-acc);height: var(--icon-acc);flex-shrink: 0;border-radius: 100%;background-color: var(--clr-black);color: var(--clr-primary);}
.accordion-title i svg {content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) rotate(90deg);width: 0.625rem;height: 0.625rem;transition: var(--transition-1);}
.accordion-title.is-active i {background-color: var(--clr-primary);color: var(--clr-black);}
.accordion-title.is-active i svg {transform: translate(-50%, -50%) rotate(0deg);}
.accordion-inner {display: none;padding-bottom: var(--pd-acc);}
@media (min-width: 1200px) {
.accordion-title:hover {color: var(--clr-primary);}
}
/*====================*/
/*  RL Block          */
/*====================*/
.rl-block {gap: var(--sp-title);display: grid;}
.rl-img {position: relative;aspect-ratio: 1;overflow: hidden;border-radius: 0.75rem;}
.rl-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;border-radius: 0.75rem;}
.rl-content {align-self: center;}
.rl-content > * + * {margin-top: var(--sp-title);}
@media (min-width: 992px) {
.rl-block {grid-template-columns: 49.343% auto;}
.rl-right {grid-template-columns: auto 49.343%;}
.rl-right .rl-img {order: 1;}
}
@media (min-width: 1200px) {
.rl-block {gap: var(--sp-xl);}
}
/*====================*/
/*  Numbers           */
/*====================*/
.number-block {gap: 1.25rem;display: grid;}
.number-card-wrap {--items: 1;--gap: 1.25rem;position: relative;gap: var(--gap);display: grid;grid-template-columns: repeat(var(--items), 1fr);}
.number-card {position: relative;width: 100%;gap: 1rem;display: grid;grid-row: span 2;grid-template-rows: subgrid;}
.number-value {font-size: 3rem;line-height: normal;font-weight: 700;letter-spacing: -0.02em;color: var(--clr-primary);}
.number-text {font-size: var(--h5);line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-title);}
@media (min-width: 768px) {
.number-card-wrap {--items: 2;}
.number-value {font-size: 4rem;}
}
@media (min-width: 1200px) {
.number-block {gap: var(--sp-md);grid-template-columns: auto 49.343%;}
.number-card-wrap {--items: 4;--gap: 2.5rem;grid-column: span 2;}
.number-value {font-size: 5rem;}
}
/*====================*/
/*  Team              */
/*====================*/
.team-wrap {--items: 1;--gap: 1.25rem;position: relative;gap: var(--gap);display: grid;grid-template-columns: repeat(var(--items), 1fr);}
.team-card {position: relative;width: 100%;gap: 1rem;display: grid;grid-row: span 2;grid-template-rows: subgrid;}
.team-img {position: relative;overflow: hidden;display: block;width: 100%;aspect-ratio: 492/343;border-radius: 0.75rem;}
.team-img img {position: absolute;left: 0;top: 0;width: 100%;height: 100%;-o-object-fit: cover;object-fit: cover;content-visibility: auto;border-radius: 0.75rem;}
@media (min-width: 768px) {
.team-wrap {--items: 2;}
}
@media (min-width: 992px) {
.team-wrap {--items: 3;}
}
/*====================*/
/*  Contact Block     */
/*====================*/
.contact-block {gap: var(--sp-title);display: grid;}
.contact-card {position: relative;order: -1;align-self: center;border-radius: 0.75rem;background-color: var(--clr-secondary);padding: var(--sp-title);}
.contact-card > * + * {margin-top: var(--sp-title);}
.contact-card .title {color: var(--clr-white);}
.contact-item {--icon-size: 3rem;position: relative;gap: 1rem;display: flex;width: -moz-fit-content;width: fit-content;}
.contact-item-icon {position: relative;display: inline-block;width: var(--icon-size);height: var(--icon-size);flex-shrink: 0;border-radius: 100%;background-color: var(--clr-primary);}
.contact-item-icon img {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 50%;height: 50%;}
.contact-item-list {gap: 0.5rem;display: flex;flex-direction: column;align-self: center;width: -moz-fit-content;width: fit-content;font-size: var(--h5);line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: rgba(255, 255, 255, 0.6);}
@media (min-width: 992px) {
.contact-block {grid-template-columns: 0.52fr 0.48fr;}
.contact-card {order: 1;}
}
@media (min-width: 1200px) {
.contact-block {gap: 12vw;}
.contact-item {--icon-size: 3.75rem;}
.contact-item-list a:hover {color: rgb(255, 255, 255);}
}
/*====================*/
/*  Map Block         */
/*====================*/
.map-block {position: relative;overflow: hidden;display: block;padding-top: max(22.5rem, 38vw);}
.map {position: absolute;inset: 0;}
/*====================*/
/*  InfoBox           */
/*====================*/
.infoBox {--space: 1rem;}
.infoBox > img {opacity: 0;}
.infoBox > img,
.infoBox .btn-close {position: absolute !important;top: 0.375rem;right: 0.375rem;width: 1.25rem;height: 1.25rem;background-color: transparent;color: var(--clr-black);}
.infoBox > img::before,
.infoBox > img::after,
.infoBox .btn-close::before,
.infoBox .btn-close::after {width: 65%;}
.info-box-wrapper {position: relative;z-index: 1;background-color: var(--clr-white);border-radius: 0.75rem;}
.info-box-logo {position: relative;width: 100%;max-width: 4.5rem;margin-inline: auto;}
.info-box-logo img {width: 100%;}
.info-box-inner {padding: var(--space);}
.info-box-inner > * {margin-bottom: calc(var(--space) / 2);}
.info-box-inner :last-child {margin-bottom: 0;}
.cnt-item {text-align: center;}
.cnt-info {font-family: var(--ff-1);font-size: var(--text-sm);line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-text);}
.cnt-info > * + * {margin-top: 0.25rem;}
@media (min-width: 1200px) {
.infoBox img:hover + .info-box-wrapper .btn-close {transform: rotate(90deg);}
.cnt-info a:hover {color: var(--clr-primary);}
}
@media (max-width: 575px) {
.infoBox {--space: 0.75rem;}
}
/*====================*/
/*  Footer            */
/*====================*/
footer {--clr-text: 255,255,255,0.6;background-color: var(--clr-secondary);}
.footer-top {gap: 1.25rem;display: grid;padding-block: 2rem;}
.footer-head > * + * {margin-top: 1rem;}
.footer-head .text {font-weight: 500;}
.footer-logo {display: block;max-width: 8.5rem;width: 100%;}
.footer-logo img {display: block;width: 100%;}
.footer-links-wrap {gap: 1.25rem 1rem;display: grid;grid-template-columns: repeat(2, 1fr);}
.footer-title {font-size: 1rem;line-height: 1.4em;font-weight: 700;letter-spacing: -0.02em;color: var(--clr-white);}
.footer-links > * + * {margin-top: 1rem;}
.footer-links li {line-height: 0;}
.footer-links li + li {margin-top: 0.5rem;}
.footer-links a {font-size: 1rem;line-height: 1.4em;font-weight: 500;letter-spacing: -0.02em;color: var(--clr-text);}
.footer-bottom {padding-block: 1.25rem;border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);}
.footer-bottom > * + * {margin-top: 1rem;}
.footer-copy,
.dev-link {font-size: 1rem;line-height: 1.12em;font-weight: 400;color: var(--clr-text);}
.dev-link {gap: 0.625rem;display: inline-flex;align-items: center;}
@media (min-width: 992px) {
.footer-links-wrap {grid-template-columns: repeat(4, 1fr);}
.footer-bottom {gap: 1.25rem;display: flex;justify-content: space-between;align-items: center;}
.footer-bottom > * + * {margin-top: 0;}
}
@media (min-width: 1200px) {
.footer-top {gap: 10rem;grid-template-columns: 25% auto;padding-block: 2.5rem;}
a.footer-logo:hover {opacity: 0.75;}
.footer-links a:hover,
.dev-link:hover {color: var(--clr-primary);}
}
/*====================*/
/*  Popups            */
/*====================*/
.popup-wrapper {position: fixed;z-index: 1000;left: 0;top: 0;width: 100%;height: 100%;left: -100%;transition-delay: 0.3s;display: block;}
.popup-wrapper .bg-layer {position: absolute;left: 0;right: 0;top: -6.25rem;bottom: -6.25rem;background: var(--bg-overlay);backdrop-filter: blur(0.375rem);opacity: 0;transition: opacity var(--transition-1);}
.popup-wrapper.active {left: 0;transition-delay: 0s;}
.popup-wrapper.active .bg-layer {opacity: 1;}
.popup-content {position: absolute;inset: 0;font-size: 0;text-align: center;letter-spacing: 0;padding: 1rem;overflow: auto;-webkit-overflow-scrolling: touch;backface-visibility: hidden;opacity: 0;visibility: hidden;transform: translateY(6.25rem);transition: var(--transition-1);}
.popup-content.active {transform: translateY(0%);opacity: 1;visibility: visible;}
.popup-content:after {content: "";display: inline-block;vertical-align: middle;height: 100%;}
.popup-content .layer-close {position: absolute;left: 0;bottom: 0;right: 0;height: 625rem;}
.popup-container {position: relative;display: inline-block;vertical-align: middle;width: 100%;max-width: 54.375rem;background: var(--clr-white);border-radius: var(--rd-1);}
.popup-container .btn-close {position: absolute;z-index: 10;top: 1.25rem;right: 1.25rem;}
.popup-align {position: relative;z-index: 1;padding: var(--sp-md);}
.popup-info > * + * {margin-top: var(--sp-title);}
.open-popup {cursor: pointer;}
@media (max-width: 575px) {
.popup-container .btn-close {top: 0.5rem;right: 0.5rem;}
.popup-align {padding: var(--sp-md) 1rem;}
}
/*====================*/
/*  404               */
/*====================*/
.page-404 {--gap: 1.25rem;width: 100%;min-height: 100svh;display: flex;align-items: center;justify-content: center;margin: 0;padding-block: calc(var(--h-height) + var(--gap)) var(--gap);}
.page-404-inner {text-align: center;}
.page-404-inner > * + * {margin-top: var(--gap);}
.page-404-title {font-size: 5rem;line-height: 1.1em;font-weight: 700;letter-spacing: -0.01em;color: var(--clr-primary);}
@media (min-width: 1200px) {
.page-404 {--gap: 2.5rem;}
}