@use "./../mixins" as *;

/*====================*/
/*  Numbers           */
/*====================*/
.number-block {
    gap: 1.25rem;
    display: grid;
}

.number-card-wrap {
    --items: 1;
    --gap: 1.25rem;
    position: relative;
    gap: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
}

.number-card {
    position: relative;
    width: 100%;

    gap: 1rem;
    display: grid;
    grid-row: span 2;
    grid-template-rows: subgrid;
}

.number-value {
    font-size: 3rem;
    line-height: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--clr-primary);
}

.number-text {
    font-size: var(--h5);
    line-height: 1.4em;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--clr-title);
}

@include minMedia(md) {
    .number-card-wrap {
        --items: 2;
    }

    .number-value {
        font-size: 4rem;
    }
}

@include minMedia(xl) {
    .number-block {
        gap: var(--sp-md);
        grid-template-columns: auto 49.343%;
    }

    .number-card-wrap {
        --items: 4;
        --gap: 2.5rem;
        grid-column: span 2;
    }

    .number-value {
        font-size: 5rem;
    }
}