@use "./../mixins" as *;

/*====================*/
/*  Form Block        */
/*====================*/
.form-block {
    --space: 1.75rem;

    .row {
        --bs-gutter-x: var(--space);
        --bs-gutter-y: var(--space);
    }

    >* {
        margin-bottom: var(--space);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include maxMedia(xl) {
    .form-block {
        --space: 1.25rem;
    }
}

@include maxMedia(md) {
    .form-block {
        --space: 1rem;
    }
}