@use "./../mixins" as *;

/*====================*/
/*  Accordion         */
/*====================*/
.accordion {
    position: relative;
    z-index: 1;
}

.accordion-item {
    --pd-acc: 1.25rem;
    --icon-acc: 1.82em;
    position: relative;
    border-bottom: rem(1) solid var(--clr-border);
}

.accordion-title {
    position: relative;
    cursor: pointer;
    font-size: var(--h5);
    line-height: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--clr-title);
    padding-block: var(--pd-acc);
    padding-right: calc(var(--pd-acc) + var(--icon-acc));
    transition: var(--transition-1);

    i {
        display: inline-block;
        position: absolute;
        right: 0;
        top: calc(var(--pd-acc) - var(--icon-acc) / 5);
        transition: var(--transition-1);

        width: var(--icon-acc);
        height: var(--icon-acc);
        flex-shrink: 0;

        border-radius: 100%;
        background-color: var(--clr-black);
        color: var(--clr-primary);

        svg {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            width: 0.625rem;
            height: 0.625rem;
            transition: var(--transition-1);
        }
    }

    &.is-active {
        i {
            background-color: var(--clr-primary);
            color: var(--clr-black);

            svg {
                transform: translate(-50%, -50%) rotate(0deg);
            }
        }
    }
}

.accordion-inner {
    display: none;
    padding-bottom: var(--pd-acc);
}

@include minMedia(xl) {
    .accordion-title:hover {
        color: var(--clr-primary);
    }
}