@use "./../mixins"as *;

/*--------------------*/
/*  Blog              */
/*--------------------*/
.blog-wrap {
  >*+* {
    margin-top: var(--sp-md);
  }
}

.blog-item {
  position: relative;
  gap: var(--sp-xs) var(--sp-sm);
  display: flex;
  flex-direction: column;
}

.blog-img {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9.12;
  max-height: rem(480);
  border-radius: var(--rd-1);

  img {
    @include objectFit;
    transition: transform var(--transition-1);
  }
}

.blog-tags {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: rem(10);
  gap: rem(6);
  display: flex;
  flex-wrap: wrap;

  >* {
    display: inline-block;
    font-size: .875rem;
    line-height: 1em;
    font-weight: 400;
    padding: .4em .6em;
    background-color: var(--clr-grey);
  }
}

.blog-content {
  gap: var(--sp-xs);
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  .title {
    @include lines(2);
  }

  .text {
    @include lines(5);
  }
}

.blog-labels {
  // position: absolute;
  // left: 0;
  // padding: rem(10);
  // margin: 0 !important;
  // transform: translateY(calc(-100% - var(--sp-xs)));

  >* {
    pointer-events: none;
    font-size: .875rem;
    line-height: 1em;
    font-weight: 400;
    padding: .2em .5em;
    background-color: var(--clr-grey);

    img {
      max-width: 1.715em;
      max-height: 1.715em;
      margin-right: .5em;
    }

    >* {
      vertical-align: middle;
    }
  }
}

@include minMedia(md) {
  .blog-wrap {
    .blog-item {
      align-items: center;
      flex-direction: row;
    }

    .blog-img {
      align-self: flex-start;
      flex: 0 0 60%;
    }

    &.type-2 {
      .blog-item:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }
}

@include minMedia(xl) {
  a.blog-img:hover {
    img {
      transform: scale(1.05);
    }
  }

  .blog-item a.title:hover {
    color: var(--clr-primary);
  }
}

@include maxMedia(xl) {
  .blog-row {
    --bs-gutter-x: 1rem;
  }

  .blog-label {
    font-size: .75rem;
  }

  .blog-tags {
    b {
      font-size: .75rem;
    }
  }
}

@include maxMedia(md) {
  .blog-item {

    .title,
    .text {
      display: block;
    }
  }
}