@use "./../mixins"as *;

/*--------------------*/
/*  BREADCRUMBS       */
/*--------------------*/
.breadcrumbs {
    --br-fz: clamp(0.875rem, 0.77rem + 0.22vw, 1rem);
    --br-space: 1rem;
    width: 100%;
    margin-block: clamp(0.75rem, 0.54rem + 0.44vw, 1rem);
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    ul {
        min-width: max-content;
        line-height: 0;
        padding-right: var(--br-space);
    }

    li {
        position: relative;
        display: inline-block;
        font-size: var(--br-fz);
        line-height: 1em;
        color: var(--clr-title);
        scroll-snap-align: start;
        scroll-margin-left: var(--br-space);

        &:after {
            content: '/';
            position: relative;
            display: inline-block;
            margin: 0 0.5rem;
            font-size: 90%;
        }

        &:last-child:after {
            content: none;
        }

        &.active {
            text-decoration: underline;
        }
    }

    .icon {
        --size: 1.125rem;
        display: inline-block;
        vertical-align: middle;
        margin-top: -0.0625rem;

        *[stroke] {
            stroke: currentColor;
        }
    }
}

.banner {
    .breadcrumbs {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@include minMedia(xl) {
    .breadcrumbs li a:hover {
        color: var(--clr-primary);
    }
}