@use "./../mixins" as *;

/*====================*/
/*  Breadcrumbs       */
/*====================*/
.breadcrumbs {
    --br-fz: 0.875rem;
    --br-space: 0.75rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-block: 1.25rem;

    ul {
        min-width: max-content;
        line-height: 0;
        padding-right: var(--br-space);
    }

    li {
        position: relative;
        display: inline-block;
        font-size: var(--br-fz);
        line-height: normal;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--clr-text);
        scroll-snap-align: start;
        scroll-margin-left: var(--br-space);

        &:after {
            content: '';
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 0.25rem;
            height: 0.25rem;
            flex-shrink: 0;
            background-color: currentColor;
            border-radius: 100%;
            margin: 0 0.5rem;
        }

        &:last-child:after {
            content: none;
        }

        &.active {
            color: var(--clr-title);
        }
    }
}

.banner {
    .breadcrumbs {
        --clr-text: rgba(255, 255, 255, 0.6);
        --clr-title: #FFFFFF;
        position: absolute;
        z-index: 2;
        left: 0;
        top: calc(var(--h-height) + 1.25rem);
        margin-block: 0;
    }
}

@include minMedia(xl) {
    .breadcrumbs li a:hover {
        color: var(--clr-primary);
    }
}