@use "./../mixins" as *;

/*====================*/
/*  Contact Block     */
/*====================*/
.contact-block {
    gap: var(--sp-title);
    display: grid;
}

.contact-card {
    position: relative;
    order: -1;
    align-self: center;
    border-radius: 0.75rem;
    background-color: var(--clr-secondary);
    padding: var(--sp-title);

    >*+* {
        margin-top: var(--sp-title);
    }

    .title {
        color: var(--clr-white);
    }
}

.contact-item {
    --icon-size: 3rem;
    position: relative;
    gap: 1rem;
    display: flex;
    width: fit-content;

    &-icon {
        position: relative;
        display: inline-block;
        width: var(--icon-size);
        height: var(--icon-size);
        flex-shrink: 0;
        border-radius: 100%;
        background-color: var(--clr-primary);

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
        }
    }

    &-list {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: fit-content;

        font-size: var(--h5);
        line-height: 1.4em;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.6);
    }
}

@include minMedia(lg) {
    .contact-block {
        grid-template-columns: 0.52fr 0.48fr;
    }

    .contact-card {
        order: 1;
    }
}

@include minMedia(xl) {
    .contact-block {
        gap: 12vw;
    }

    .contact-item {
        --icon-size: 3.75rem;
    }

    .contact-item-list a:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/*====================*/
/*  Map Block         */
/*====================*/
.map-block {
    position: relative;
    overflow: hidden;
    display: block;
    padding-top: max(22.5rem, 38vw);
}

.map {
    position: absolute;
    inset: 0;
}