@use "./../mixins" as *;

/*====================*/
/*  Footer            */
/*====================*/
footer {
    --clr-text: 255, 255, 255, 0.6;
    background-color: var(--clr-secondary);
}

.footer-top {
    gap: 1.25rem;
    display: grid;
    padding-block: 2rem;
}

.footer-head {
    >*+* {
        margin-top: 1rem;
    }

    .text {
        font-weight: 500;
    }
}

.footer-logo {
    display: block;
    max-width: 8.5rem;
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}

.footer-links-wrap {
    gap: 1.25rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footer-title {
    font-size: 1rem;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: -0.02em;
    color: var(--clr-white);
}

.footer-links {
    >*+* {
        margin-top: 1rem;
    }

    li {
        line-height: 0;

        +li {
            margin-top: 0.5rem;
        }
    }

    a {
        font-size: 1rem;
        line-height: 1.4em;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: var(--clr-text);
    }
}

.footer-bottom {
    padding-block: 1.25rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);

    >*+* {
        margin-top: 1rem;
    }
}

.footer-copy,
.dev-link {
    font-size: 1rem;
    line-height: 1.12em;
    font-weight: 400;
    color: var(--clr-text);
}

.dev-link {
    gap: 0.625rem;
    display: inline-flex;
    align-items: center;
}

@include minMedia(lg) {
    .footer-links-wrap {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-bottom {
        gap: 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >*+* {
            margin-top: 0;
        }
    }
}

@include minMedia(xl) {
    .footer-top {
        gap: 10rem;
        grid-template-columns: 25% auto;
        padding-block: 2.5rem;
    }

    a.footer-logo:hover {
        opacity: 0.75;
    }

    .footer-links a:hover,
    .dev-link:hover {
        color: var(--clr-primary);
    }
}