@use "./../mixins"as *;

/*--------------------*/
/*  InfoBox           */
/*--------------------*/
.infoBox {
  --space: 1rem;

  >img {
    z-index: 10;
    opacity: 0;
  }

  >img,
  .btn-close {
    position: absolute;
    top: calc(-1 * var(--space));
    right: var(--space);
    width: calc(var(--space) * 2);
    height: calc(var(--space) * 2);
    border-radius: 100%;
  }

  .btn-close {
    right: calc(-1 * var(--space));
  }

}

.info-box-wrapper {
  position: relative;
  z-index: 1;
  background-color: var(--clr-white);
  border-radius: var(--rd-1);
  display: flex;
}

.info-box-inner {
  padding: var(--space);
  padding-right: calc(var(--space) * 3);

  >* {
    margin-bottom: var(--space);
  }

  :last-child {
    margin-bottom: 0;
  }
}

.cnt-item {
  display: flex;
  align-items: flex-start;
}

.cnt-img {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.625rem;

  img {
    width: 100%;
    line-height: 0;
  }
}

.cnt-info {
  font-family: var(--ff-1);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;

  >*+* {
    margin-top: 0.25rem;
  }
}

.info-box-img {
  position: relative;
  z-index: -1;
  padding-bottom: 56%;
  height: 100%;
  width: 44%;
  flex-shrink: 0;
  border-bottom-right-radius: var(--rd-1);
  overflow: hidden;

  img {
    @include objectFit;
  }
}

@include minMedia(xl) {
  .infoBox img:hover+.info-box-wrapper .btn-close {
    color: var(--clr-red);
    background-color: var(--clr-grey);
  }

  .cnt-info a:hover {
    color: var(--clr-primary);
  }
}

@include maxMedia(sm) {
  .infoBox {
    --space: 0.75rem;
  }

  .info-box-img {
    display: none;
  }

  .infoBox {

    >img,
    .btn-close {
      top: calc(var(--space) * 0.5);
      right: calc(var(--space) * 2.5);
    }

    .btn-close {
      right: calc(var(--space) * 0.5);
    }
  }
}