@use "./../mixins" as *;

/*====================*/
/*  404               */
/*====================*/
.page-404 {
    --gap: 1.25rem;
    width: 100%;
    min-height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding-block: calc(var(--h-height) + var(--gap)) var(--gap);
}

.page-404-inner {
    text-align: center;

    >*+* {
        margin-top: var(--gap);
    }
}

.page-404-title {
    font-size: 5rem;
    line-height: 1.1em;
    font-weight: 700;
    letter-spacing: -0.01em;
    color: var(--clr-primary);
}

@include minMedia(xl) {
    .page-404 {
        --gap: 2.5rem;
    }
}