@use "./../mixins"as *;

/*--------------------*/
/*  Header            */
/*--------------------*/
:root {
    --h-height: 8.5rem;
    --h-logo-width: 14.75rem;
}

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--h-height);
}

.h-wrap {
    background-color: transparent;
    transition: var(--transition-1);
}

.h-inner {
    position: relative;
    width: 100%;
    height: var(--h-height);
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--transition-1);
}

.h-logo {
    display: block;
    width: var(--h-logo-width);
    flex-shrink: 0;

    img {
        display: block;
        max-width: 100%;
    }
}

.h-menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.h-links {
    margin-inline: auto;

    ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2.1vw;
    }

    a {
        font-size: 1rem;
        line-height: 1em;
        font-weight: 500;
        letter-spacing: -0.32px;
        color: var(--clr-white);
    }
}

header.scrolled{
    .h-wrap {
        background-color: var(--clr-black);
    }
}

.h-menu-overlay,
.h-burger {
    display: none;
}

@include minMedia(xl) {
    .h-links a:hover {
        color: var(--clr-primary);
    }
}

@include maxMedia(xl) {
    :root {
        --h-height: 3.75rem;
        --h-logo-width: 5.5rem;
    }

    .h-wrap{
        background-color: var(--clr-black);
        position: relative;
        z-index: 10;
    }

    .h-burger {
        position: relative;
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        i {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: rem(2);
            background-color: var(--clr-white);
            transition: var(--transition-1);

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: rem(-6);
                width: 100%;
                height: 100%;
                background-color: var(--clr-white);
                transition: var(--transition-1);
            }

            &:after {
                top: rem(6);
            }
        }
    }

    .h-menu {
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: var(--transition-1);
        width: min(100%, rem(420));
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr-black);
        opacity: 0;
        padding: 1rem;
        padding-top: calc(var(--h-height) + 1rem);
        padding-bottom: 2rem;

        >*+* {
            margin-top: 2rem;
        }
    }

    .h-menu-overlay {
        display: block;
        position: fixed;
        z-index: 9;
        inset: 0;
        opacity: 0;
        visibility: hidden;
        background-color: var(--bg-overlay);
        backdrop-filter: blur(0.25rem);
        transition: var(--transition-1);
    }

    .h-links {
        margin-block: auto;
        width: 100%;

        ul {
            gap: 1.25rem;
            flex-direction: column;
            width: 100%;
        }

        li{
            width: 100%;
            text-align: center;
        }

        a{
            line-height: 2;
            width: 100%;
        }
    }

    .open-menu {
        .h-burger {
            i {
                background-color: transparent;

                &:before,
                &:after {
                    top: 0;
                    transform-origin: center;
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                }
            }
        }

        .h-menu {
            transform: translateX(0%);
            opacity: 1;
        }

        .h-menu-overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

header {
    opacity: 1;
    transition: 0.15s linear opacity;
}